@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Component1 />

<MudText Typo="Typo.h3">Test: Mask</MudText>
<MudText>Phone Number</MudText>
<MudTextField T="string" Mask="@(new PatternMask("(000) 000-0000"))" HelperText="Ex. (123) 456-7890" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Phone" />
